.users {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.user-info {
  display: flex;
  gap: 1.5rem;
}

.user-image {
  padding: 2rem;
  max-width: 100px;
}

.post-num {
  align-self: flex-end;
}